body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../image/fondo.jpg);
}

header {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 2em;
}

nav {
    background-color: #0066cc;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

section {
    margin: 2em auto;
    max-width: 800px;
    padding: 20px;
}

.imagen-peces {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.imagen-principal {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    color: #0066cc;
    text-align: center;
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}